dask==2026.1.2
ftfy==6.3.1
geopy==2.4.1
matplotlib==3.10.8
omegaconf==2.3.0
openpyxl==3.1.5
packaging==26.0
pandas==1.5.2
Pillow==12.1.1
pywikibot==11.0.0
PyYAML==6.0.3
regex==2024.11.6
Requests==2.32.5
scikit_learn==1.8.0
setuptools==65.5.0
submitit==1.5.4
termcolor==3.3.0
torch==2.6.0
torchmetrics==1.9.0
torchvision>=0.21.0
xformers==0.0.35
numpy==1.25.2
