dask==2026.3.0
geopy==2.4.1
jsondiff==2.2.1
matplotlib==3.10.9
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==1.5.2
Pillow==12.2.0
pywikibot==11.0.0
Requests==2.34.2
scikit_learn==1.9.0
scipy==1.17.1
skimage==0.0
torch==2.6.0
torchvision==0.21.0
vismatch==1.2.0
numpy==1.25.2
